my-test/src/main/resources/org/springframework/expand/xsd/my-user.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.springframework.org/schema/context"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:beans="http://www.springframework.org/schema/beans"
		xmlns:tool="http://www.springframework.org/schema/tool"
		targetNamespace="http://www.springframework.org/schema/my-user"
		elementFormDefault="qualified"
		attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.springframework.org/schema/beans" schemaLocation="https://www.springframework.org/schema/beans/spring-beans.xsd"/>
	<xsd:import namespace="http://www.springframework.org/schema/tool" schemaLocation="https://www.springframework.org/schema/tool/spring-tool.xsd"/>

	<xsd:annotation>
		<xsd:documentation><![CDATA[
	Defines the configuration elements for the Spring Framework's application
	context support. Effects the activation of various configuration styles
	for the containing Spring ApplicationContext.
		]]></xsd:documentation>
	</xsd:annotation>

	<xsd:element name="user">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="property" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:attribute name="key" type="xsd:string" use="required">
							<xsd:annotation>
								<xsd:documentation><![CDATA[属性的键名]]></xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="value" type="xsd:string" use="required">
							<xsd:annotation>
								<xsd:documentation><![CDATA[属性的值]]></xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="username" type="xsd:string" />
			<xsd:attribute name="password" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>



</xsd:schema>
